* {
	
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
	background-color: #1d1d1d;
}

*::selection {
	background-color: #1d1d1d;
}

html, body {
  /*background-color: #c8c7b3;*/
  /*background-image: -webkit-linear-gradient(#d5d4c7, #c8c7b3);*/
  color: #1d1d1d;
  font-size: 16px;
  font-family: Quattrocento;
}

body {
	background-color: #3b3b3b;
	z-index: -9999;
}

a {
  color: rgb(57,165,221);
  font-weight: none;
  text-decoration: none;
  outline: none;
  position: relative;
}

a:hover {
	text-decoration: underline;
}

div.container {
  top: 65px;
}

p {
	padding: 5px 0;
	position: relative;
}

ul {
	padding: 0;
  margin: 30px auto;
  text-align: center;
}

.body {
	margin-bottom: 100px;
}

.background {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: -9990;

  display: block;
  background-image: url("./gfx/background/background.png");
  width: 100%;
  height: 100%;

  -webkit-filter: blur(2.2px);
  -moz-filter: blur(2.2px);
  -o-filter: blur(2.2px);
  -ms-filter: blur(2.2px);
  filter: blur(2.2px);
}

/* ---- Header ---- */

.header {
  /*background-color: #1c1c1c;
  color: #c8c7b3;*/
  background-color: #1d1d1d;
  color: #3e4f5e;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 1.4em;
}

.navigation {
	width: 100%;
	height: 65px;
  list-style-type: none;
  margin: auto;
  padding: 20px 0;
  display: block;
}

	.navigation a {
		/*color: #c8c7b3;*/
		color: #3e4f5e;
		font-style: normal;
		font-weight: bold;
		text-decoration: none;
		padding-right: 10px;
	  padding-left: 10px;
	}

	.navigation a:hover {
		/*background-color: #c8c7b3;
		color: #1c1c1c;*/
		background-color: #3e4f5e;
		color: #1d1d1d;
		padding-top: 100%;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 20px;
	}

	.navigation li {
	  display: inline;
	  margin-right: 15px;
	  text-transform: uppercase;
	}

	.navigation li:hover {
		/*background-color: #c8c7b3;
		color: #1c1c1c;*/
		background-color: #3e4f5e;
		color: #1d1d1d;
	}

#logo {
	margin: 0;
  padding: 0;
  position: absolute;
  top: 7px;
  left: 8px;
  display: block;
  margin: 0px auto;
  background-image: url("./gfx/background/avatar.png");
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

#logo:hover {
	padding: 0;
	background-color: transparent;
}

/* ---- Content ---- */

.container {
	width: 61%;
	min-width: 408px;
	margin: 20px auto;
  position: relative;
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  background-color: #3e4f5e !important;
  color: #d8d8d8;
}

.container h3 {
	margin: 0;
	margin: 0;
}

/*.container:hover {
	background-color: #d0b183 !important;
	color: #1c1c1c;
}*/

/* -- About section -- */

#about {
	background: url("./gfx/background/spritecontainer.png") 0 0;
}

/* -- Feature section -- */

#features {
	background: url("./gfx/background/spritecontainer.png") 0 -50px;
}

	.features ul {
	margin: 0;
	margin-left: 14px;
	padding: 0;
	text-align: left;
	}

	.features li {
		padding: 4px 0;
	}

/* -- Screenshot section -- */

#screenshots {
	background: url("./gfx/background/spritecontainer.png") 0 -100px;
}

.screenshots {
	height: 760px;
}

	.screenshotsl {
		position:relative;
		display: inline-block;

		min-height:1px;

		float:left;
		width: 10%;
	}

		/*.screenshotsl a:hover {
			border-top-left-radius: 24px;
			border-bottom-left-radius: 24px;
			-webkit-border-top-left-radius: 24px;
			-webkit-border-top-right-radius: 24px;
			-moz-border-radius-topleft: 24px;
			-moz-border-radius-topright: 24px;
			background-color: rgba(0,0,0,0.5) !important;
		}*/

	.screenshotsr {
		position:absolute;
		left: 142px;
		height: 97%;
		margin-right: 10px;
		border: 2px solid #1d1d1d;
		border-radius: 8px;
		background-color: rgba(0,0,0,0.5) !important;
	}

		.screenshotsr img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			overflow: hidden;
			padding: 2px;
		}

/* -- Download section -- */

#download {
	background: url("./gfx/background/spritecontainer.png") 0 -150px;
}

	.dllink {
		clear: both;
	  list-style-type: none;
	  margin: 0 auto;
	}

		.dllink li {
			display: inline;
		}

	.dlnote {
		width: 60%;
	  border: 2px solid rgba(219,10,0,0.6);;
	  border-radius: 2px;
	  background-color: rgba(219,10,0,0.5);
		color: #d8d8d8;
		padding: 10px;
		margin: 0 auto;
		display:flex;
	  align-items: center;
	  text-align:justify;
	}

	/*.download:hover .dlnote {
		background-color: #8d2c2f;
	}*/

		.dlnote img {
		  width: 11%;
		  height: 11%;
		  margin-right: 5px;
		}

			/* -- Addon buttons -- */

			#dlbutton {
			  height: 103px; 
			  width: 103px;
			  position:relative;
			  display: inline-block;
			}

			#dlbutton img {
			  height: 103px; 
			  width: 103px;
			  left: -51px; /* I am definitely too bad with CSS, and it's definitely too early to understand why and what is going on right now. */
			  object-fit: none;
			  position:absolute;
			  -webkit-transition: opacity 0.6s ease-in-out;
			  -moz-transition: opacity 0.6s ease-in-out;
			  -o-transition: opacity 0.6s ease-in-out;
			  transition: opacity 0.6s ease-in-out;
			}

			#dlbutton img.top:hover {
			  opacity:0;
			}

			#dts {
			  object-position: 0 0;
			}

			#dtsh {
			  object-position: -103px 0;
			}

			#dtsdi {
			  object-position: 0 -103px;
			}

			#dtsdih {
			  object-position: -103px -103px;
			}

			#dtsde {
			  object-position: 0 -206px;
			}

			#dtsdeh {
			  object-position: -103px -206px;
			}

			#dtsip {
			  object-position: 0 -309px;
			}

			#dtsiph {
			  object-position: -103px -309px;
			}

/* -- License section -- */

#license {
	background: url("./gfx/background/spritecontainer.png") 0 -250px;
}

/* .license:after; { 
	background-color: #d0b183;
	color: #1c1c1c;*/

	.license img {
	  width: 42px;
	  height: 42px;
	}

	.licenselist {
		 padding: 10px;
		}

	.term {
		width: 100%;
		height: 100%;
		padding: 5px 0;
	  display:flex;
	  align-items: center;
	}

		.term img {
			margin-right: 5px;
		}

	/* -- Thanks section -- */

#thanks {
	background: url("./gfx/background/spritecontainer.png") 0 -200px;
}

	.thanks ul {
	margin: 0;
	margin-left: 24px;
	padding: 0;
	text-align: left;
	}

	.thanks li {
		padding: 4px 0;
	}

.thxnote {
	width: 20%;
  border: 2px solid rgba(0,157,32,0.6);;
  border-radius: 2px;
  background-color: rgba(0,157,32,0.5);
  background-image: url('./gfx/gui/heart.png');
  	background-position: center;
  	background-repeat: no-repeat;
  font-size: 1.4em;
	color: #d8d8d8;
	padding: 10px;
	position: absolute;
  top: 50%;
  right: 0.9%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


  text-align:center;
}

	/* -- Contact section -- */

#contact {
	background: url("./gfx/background/spritecontainer.png") 0 -300px;
}

/* ---- Footer ---- */

.footer {
	background-color: #1d1d1d;
	background-color: rgba(28,28,28,1);
	color: #d8d8d8;
	width: 100%;
	height: 48px;
	z-index: 1000;
}

	.buttonsocial {
	display: inline-block;
	margin: 0.5em;
	height: 32px;
	width: 32px;
	float: right;
	bottom: 0;
	}

	#twitter a {
	  background: url("./gfx/gui/spritesocial.png") 0 0;
	}

	#facebook a {
	  background: url("./gfx/gui/spritesocial.png") -32px 0;
	}

	#minds a {
	  background: url("./gfx/gui/spritesocial.png") -64px 0;
	}

	#gab a {
	  background: url("./gfx/gui/spritesocial.png") -96px 0;
	}

	#mastodon a {
	  background: url("./gfx/gui/spritesocial.png") -128px 0;
	}
	
	#gitlab a {
	  background: url("./gfx/gui/spritesocial.png") -160px 0;
	}

	#twitter a:hover {
	  background: url("./gfx/gui/spritesocial.png") 0 -32px;
	}

	#facebook a:hover {
	  background: url("./gfx/gui/spritesocial.png") -32px -32px;
	}

	#minds a:hover {
	  background: url("./gfx/gui/spritesocial.png") -64px -32px;
	}

	#gab a:hover {
	  background: url("./gfx/gui/spritesocial.png") -96px -32px;
	}

	#mastodon a:hover {
	  background: url("./gfx/gui/spritesocial.png") -128px -32px;
	}
	
	#gitlab a:hover {
	  background: url("./gfx/gui/spritesocial.png") -160px -32px;
	}

/* -- Tool tip -- */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 22em !important; /* Width not perfect, but works for now. */
  background-color: #2e2e2e;
  color: #d8d8d8;
  text-align: justify !important;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ---- Bits and pieces ---- */

/* -- Anchor -- This definitely needs to be replaced with a clean navigation, but it works for now for the 2 visitors of this page */

#aabout, #afeatures, #adownload { 
  padding-top: 99px;
  margin-top: -99px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

 /*#acontact, #adownload OVERLAP with Tool tip div, not worth fixing right now due to the fact that site is not long enough to execute perfect placement anyway */

#aterms { 
  padding-top: 109px;
  margin-top: -109px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.bold {
	font-weight: bold;
	font-size: 1.1em;
}

.intend {
	padding-left: 0.5em;
  text-indent:-0.5em;
  line-height: 1.35em;
}

.center {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.containerbg {
	height: 50px;
	width: 465px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.help {
	cursor: help;
}

.nodis {
  display: none !important;
}

.novis {
	visibility: hidden !important;
}

.nopad {
	padding: 0 !important;
}

.pad {
	padding: 10px;
}

.silentlink, .silentlink:hover {
	color: #d8d8d8;
  font-weight: none;
  text-decoration: none;
  outline: none;
}

.textsmall {
	font-size: 0.8em;
}

.fab-trans {
	color: rgba(216,216,216,0.42) !important;
}

.fab-35x {
	font-size: 3.5em;
}

#warning {
	padding-right: 10px;
}